.footer {
  background-color: var(--color-footer-backgroud);
  color: var(--color-footer-text-primary);
  text-align: center;
  padding: var(--space-4);
  font-size: 0.9rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.footer a {
  color: var(--color-footer-text-primary);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: var(--color-footer-text-secondary);
}
