.notfound-container {
  text-align: center;
  margin: 24px 0;
  font-family: var(--font-family);
  color: var(--colour-page-text-primary);
}

.notfound-container h1 {
  font-size: 4rem;
  color: var(--color-page-h1-primary);
  margin-bottom: 16px;
}

.notfound-container p {
  font-size: 1.2rem;
  color: var(--colour-page-text-third);
  margin: 12px 0;
}

.notfound-link {
  display: inline-block;
  margin-top: 16px;
  padding: 10px 20px;
  background-color: var(--color-botton-primary);
  color: var(--color-botton-text-primary);
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.notfound-link:hover {
  background-color: var(--color-botton-primary-houver);
  transform: translateY(-2px);
}
