.notfound-container {
  text-align: center;
  margin: 10px 0;
}

.notfound-container h1 {
  font-size: 5rem;
  color: var(--color-page-h1-primary);
}

.notfound-container p {
  font-size: 1.5rem;
  color: var(--colour-page-text-third);
  margin: 10px 0;
}

.notfound-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--color-botton-primary);
  color: var(--color-botton-text-primary);
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.notfound-link:hover {
  background-color: var(--color-botton-primary-houver);
}
