.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.login-container h2 {
  color: var(--color-page-h2-primary);
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form label {
  font-weight: bold;
  text-align: left;
}

.login-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  background-color: var(--color-botton-primary);
  color: var(--color-botton-text-primary);
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-form button:hover {
  background-color: var(--color-botton-primary-houver);
}

.login-message {
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}
