.header {
  background-color: var(--color-header-backgroud);
  color: var(--color-header-text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px; /* substituindo --space-4 e --space-6 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px; /* substituindo --space-3 */
}

.header-logo .logo {
  height: 50px;
  width: auto;
}

.header-nav {
  display: flex;
  gap: 16px; /* substituindo --space-4 */
}

.header-nav a {
  text-decoration: none;
  color: var(--color-header-text-primary);
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.header-nav a:hover {
  color: var(--color-header-text-secondary);
}
